.logo {
    display: flex;
    align-items: center; /* Centrar verticalmente el contenido */
}

.logo-img {
    max-width: 50px; /* Tamaño máximo de la imagen (ajusta según sea necesario) */
    height: auto;
    margin-right: 10px; /* Espaciado entre la imagen y el texto */
}
.logo-text {
    font-size: 1.5em; /* Tamaño del texto (ajusta según sea necesario) */
}

/* Estilos para el logo */
.logo img {
    max-width: 100%;
}

/* Estilos para las opciones de menú */
.menu-options {
    margin-top: 20px; /* Espaciado superior entre el logo y las opciones de menú */
}

/* Estilos para el menú */
.menu {
    list-style: none;
    padding: 0;
}

.menu li {
    margin-bottom: 10px;
     /* Borde inferior blanco para separar las opciones del menú */
     border-bottom: 1px solid #fff;
     padding-bottom: 5px; /* Espacio entre el texto y la línea */
}

.menu a {
    text-decoration: none;
    color: #fff;
}

/* Estilos para el encabezado */
.admin-option {
    text-align: right;
    margin-top: 20px;
}

.admin-option a {
    text-decoration: none;
    color: #333;
}

/* Cambiar el color de fondo del div de la columna izquierda */
.col-lg-3 {
    background-color: #5C677F;
    color: #fff; /* Cambiar el color del texto si es necesario */
    height: 100vh; /* Establecer la altura al 100% del viewport */
    overflow-y: auto; /* Agregar desplazamiento vertical si el contenido es largo */
    padding: 20px; /* Espaciado interno para separar el contenido */
    font-family: 'Roboto', sans-serif; /* Cambiar la fuente a Roboto */4
}
/* Aplicar un fondo verde a la etiqueta header */
#divheader {
    background-color: #E3E9F5;    
}

/* Estilos adicionales para la página */
/* Agrega estilos según tus necesidades */
